.page-login {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.page-login .btn-form-primary {
  margin-top: 26px;
}

.link-signup {
  margin: auto;
  color: #000;
  padding: 12px 0px;
  text-decoration: none;
}
