.spacer-lg {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.post-update {
  width: min(592px, 100%);
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.post-update-text {
  display: flex;
  padding: 24px 0;
  font-size: var(--fs-title-modal);
  align-items: center;
  justify-content: center;
}

.post-label {
  padding: 26px 16px 16px 16px;
}

.post-label-text {
  font-family: var(--font-ui-bold);
  font-size: 16px;
  line-height: 130%;
}

.post-title-input {
  width: 100%;
  padding: 24px 20px;
  background-color: transparent;
  border: none;
  font-family: var(--font-ui-bold);
  font-size: 16px;
  color: #838486;
}

.post-content-input {
  width: 100%;
  height: 280px;
  font-family: var(--font-ui);
  font-size: 15px;
  background-color: transparent;
  padding: 20px;
  border: none;
  line-height: 141%;
  color: #838486;
}

.post-image-input-container {
  padding: 0px 16px;
  display: flex;
  gap: 12px;
  align-items: center;
}

.btn-image-upload {
  padding: 6px 8px;
  display: inline-block;
  border: solid 1px #000;
  border-radius: 4px;
  background-color: #d9d9d9;
  color: #000;
  cursor: pointer;
  font-family: var(--font-ui);
  font-size: 14px;
}

.btn-post-submit-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-post-submit {
  margin-top: 27px;
  padding: 8px 165px;
  font-family: var(--font-ui-bold);
  color: #fff;
  font-size: 14px;
  background-color: #7f6aee;
  border: none;
  border-radius: 4px;
}
