:root {
  --auth-card-width: auto;
  --primary: #aca0eb;
}

.page-post-list .spacer-lg {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  padding: 32px 112px;
}

.spacer {
  width: 280px;
  margin-top: 8px;
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.post-filter {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 8px;
  width: 100%;
  border-radius: 12px;
  border-radius: 12px;
  border: 1px solid #dbeafe;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1), 0 10px 15px 0 rgba(0, 0, 0, 0.1);
}

.field-label-wrapper {
  display: flex;
  align-items: center;
}

.field_label {
  font-size: 18px;
  font-weight: 400;
}

.filter-label-title {
  font-size: 14px;
  font-weight: 400;
}

.popular-post-filter {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 8px;
  border-radius: 12px;
  border: 1px solid #dbeafe;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1), 0 10px 15px 0 rgba(0, 0, 0, 0.1);
}

.popular-post-tag {
  border-radius: 9999px;
  border: 1px solid rgba(37, 99, 235, 0.2);
  background: rgba(0, 0, 0, 0);
  padding: 8px;
  margin-bottom: 6px;
  color: #1d4ed8;
}
.post-filter-select {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  background: #fff;
}

.post-list-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 0;
}

.post-list {
  width: 904px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-list-search-input {
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  padding: 16px 12px;
  width: 256px;
}

.post-list-title {
  width: 100%;
  font-family: var(--font-ui);
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}

.post-list-content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: calc(100vh - 260px);
  overflow-y: auto;
  padding-right: 8px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.post-list-content-wrapper::-webkit-scrollbar {
  display: none;
}

.post-list-content {
  width: 100%;
  cursor: pointer;
  border-radius: 12px;
  border: 1px solid #eff6ff;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 6px 0 rgba(0, 0, 0, 0.1);
}

.post-list-content-container {
  padding: 18px 24px;
}

.post-tags {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}

.post-tag {
  padding: 4px 10px;
  border-radius: 999px;
  color: #1d4ed8;
  font-family: var(--font-ui);
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid rgba(37, 99, 235, 0.2);
  background: rgba(0, 0, 0, 0);
}

.post-title {
  font-family: var(--font-ui);
  font-size: 18px;
  font-weight: 400;
}

.post-list-content hr {
  border: 1px solid rgba(0, 0, 0, 0.16);
  margin: 0;
}

.author-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px 18px 24px;
  width: 100%;
}

.author-left {
  display: flex;
  align-items: center;
  gap: 50px;
}

.author-profile-image {
  border: 1px solid #dbeafe;
  border-radius: 50%;
  padding: 2px;
  width: 24px;
  height: 24px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.author-profile-image img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.author-profile strong {
  font-family: var(--font-ui);
  font-size: 12px;
  font-weight: 400;
  color: #6b7280;
}

.author-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-meta {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: var(--font-ui);
  font-size: var(--fs-body);
}

.post-meta-item {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #6b7280;
}

.post-meta-icon {
  width: 12px;
  height: 12px;
}

.post-meta-date {
  color: #6b7280;
  font-size: 12px;
  font-family: var(--font-ui);
}
