root {
  --auth-card-width: auto;
  --primary: #aca0eb;
}

.header-block {
  width: 592px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-block a {
  color: #000;
}

hr {
  border: 1px solid rgba(0, 0, 0, 0.16);
}

.profile-img {
  border: 1px solid #000;
  border-radius: 50%;
  padding: 2px;
  width: 36px;
  height: 36px;
  background-color: #000;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.spacer-lg {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.post-detail {
  width: 592px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.post-detail-title {
  font-size: var(--fs-title-modal);
  margin-top: 24px;
  padding: 0px 24px;
}

.post-detail-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
}
.post-detail-title-info {
  display: flex;
}

.post-author-name-date {
  display: flex;
  gap: 24px;
  align-items: center;
}

.post-author-name {
  font-family: var(--font-ui-bold);
  margin-left: 10px;
}

.post-update-delete-btns {
  display: flex;
  padding: 12px 2px;
  gap: 8px;
}

.btn-update,
.btn-delete {
  font-family: var(--font-ui);
  padding: 3px 12px;
  border: 1px solid #aca0eb;
  background-color: transparent;
  border-radius: 8px;
  font-size: 15px;
}

.post-detail-content-container {
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.post-img img {
  width: 544px;
  height: 306px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.post-detail-content-like-comment-count {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  padding: 13px 21px;
  gap: 10px;
}

.post-count {
  width: 116px;
  height: 77px;
  font-size: 20px;
  border: none;
  padding: 12px 30px;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  gap: 2px;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
}

.post-count-value {
  font-size: 20px;
  font-family: var(--font-ui-bold);
  line-height: 130%;
}

.post-count-label {
  font-size: 16px;
  font-family: var(--font-ui-bold);
  line-height: 157%;
}

.post-comments-section {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.post-comment-input-container {
  width: 100%;
  border: none;
  background-color: #fff;
  margin-top: 32px;
  border-radius: 16px;
}

.post-comment-input-box {
  padding: 24px 24px 0 24px;
}

.post-comment-input {
  width: 100%;
  height: 94px;
  font-size: var(--fs-body);
  border: none;
  padding: 12px 16px;
  box-sizing: border-box;
  resize: none;
  background-color: transparent;
  color: #000;
}

.post-comment-input::placeholder {
  color: rgba(0, 0, 0, 0.45);
}

.post-comment-btn {
  justify-content: end;
  width: 100%;
  display: flex;
  padding: 6px 8px;
}

.btn-comment-submit {
  padding: 7px 40px;
  background-color: #aca0eb;
  border: none;
  color: #fff;
  font-family: var(--font-ui-bold);
  font-size: 16px;
  line-height: 157%;
  border-radius: 16px;
}

.post-comments-list-container {
  width: 100%;
  padding: 24px 24px 0 24px;
  display: flex;
  justify-content: space-between;
}

.post-comment-author-info {
  display: flex;
  justify-content: space-between;
}

.post-comment-info-container {
  display: flex;
}

.post-comment-update-delete-btns {
  display: flex;
  padding: 20px 0;
  gap: 8px;
}

.post-author-name-date {
  gap: 24px;
}

.post-comment-text-container {
  margin-top: 8px;
  padding-left: 46px;
}
