.page-signup {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.auth-profile {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.auth-profile-image {
  width: 130px;
  height: 130px;
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 8px;
  background-color: #e5e7eb;
}

.page-signup .btn-form-primary {
  margin-top: 20px;
}

.link-login {
  margin: auto;
  color: #000;
  padding: 12px 0px;
  text-decoration: none;
}
