.page-user-info {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.field-profile-image {
  width: 100%;
  padding: 0 18px;
}

.field_label_profile_image {
  font-family: var(--font-ui-bold);
}

.spacer-sm {
  width: 100%;
  padding: 25px 0px;
  display: flex;
  justify-content: center;
}

.profile-img-update {
  position: relative;
  width: 149px;
  height: 149px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-img-update::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(70, 70, 70, 0.55);
  pointer-events: none;
}

.profile-img-update img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  display: block;
}

.profile-img-change {
  padding: 5px 13px;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  color: #fff;
  font-family: var(--font-ui-bold);
  font-size: 15px;
  cursor: pointer;
  z-index: 1;
  border: solid 1px #fff;
}

.auth-form {
  padding: 10px 18px 0 18px;
}
.field_value {
  font-family: var(--font-ui);
}

.page-user-info .btn-form-primary {
  margin-top: 26px;
}

.link-withdraw {
  margin: auto;
  color: #000;
  padding: 12px 0px;
  text-decoration: none;
  border: none;
  background-color: transparent;
}
