:root {
  --auth-card-width: auto;
  --auth-radius: 4px;
  --primary: #aca0eb;
  --fs-body: 14px;
}

.page-update-password {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.spacer-lg {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.auth {
  width: 392px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.auth-title {
  text-align: center;
  margin: 0 0 18px;
}

.auth-form {
  width: 100%;
  padding: 50px 18px 0 18px;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.field_label {
  margin-bottom: 6px;
}

.field_input {
  width: 100%;
  padding: 8px 0 8px 10px;
  font-size: var(--fs-body);
  border-radius: var(--auth-radius);
  outline: none;
  border: 1px solid #000;
  color: #000;
  background: transparent;
}

.btn-update {
  font-family: var(--font-ui-bold);
  font-size: var(--fs-body);
  justify-content: center;
  border-radius: var(--auth-radius);
  align-items: center;
  display: flex;
  margin-top: 26px;
  flex-direction: column;
  width: 100%;
  padding: 8px 0;
  color: #fff;
  background: var(--primary);
  border: none;
  font-style: var(--font-ui-bold);
}
