.page-user-info {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.auth-title {
  margin: 0 0 18px;
}

.field-profile-image {
  width: 100%;
  padding: 0 18px;
}

.field_label_profile_image {
  font-family: var(--font-ui-bold);
}

.spacer-sm {
  width: 100%;
  padding: 25px 0px;
  display: flex;
  justify-content: center;
}

.profile-img-update {
  border: none;
  border-radius: 50%;
  padding: 4px;
  width: 149px;
  height: 149px;
  background-color: #000;
}

.profile-img-update img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.auth-form {
  padding: 10px 18px 0 18px;
}
.field_value {
  font-family: var(--font-ui);
}

.page-user-info .btn-form-primary {
  margin-top: 26px;
}

.link-withdraw {
  margin: auto;
  color: #000;
  padding: 12px 0px;
  text-decoration: none;
}
