.page-update-password {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.auth-title {
  margin: 0 0 18px;
}

.auth-form {
  padding: 50px 18px 0 18px;
}

.page-update-password .btn-form-primary {
  margin-top: 26px;
}
